// banner
.banner
  .banner__bg 
    img(src="img/banner_bg.jpg", alt="")
  .banner__content 
    .banner__title Качественное оборудование от надежного поставщика!
    .banner__btn 
      a(href="#").btn.btn--white Консультация по сервису
  .banner__img 
    img(src="img/banner.png", alt="")
//	/banner