// subcatalog 
.subcatalog 
  ul.subcatalog__list 
    li.subcatalog__item
      a(href="#").subcatalog__link Грузоподъемное оборудование
        <svg version="1.1" width="12px" height="14px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004" fill="none">
          <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
        </svg>
      .subcatalog__sublist 
        ul
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Cтропы
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
            .subcatalog__sublist2
              ul
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Ремни стяжные, буксировочные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
            .subcatalog__sublist2
              ul
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
            .subcatalog__sublist2
              ul
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Лебедки ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Лебедки электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Домкраты
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Блоки монтажные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Захваты
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Весы крановые
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тележки для талей
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
    li.subcatalog__item
      a(href="#").subcatalog__link Комплектующие для строп и такелаж
        <svg version="1.1" width="12px" height="14px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004" fill="none">
          <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
        </svg>
      .subcatalog__sublist
        ul
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Cтропы
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
            .subcatalog__sublist2
              ul
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Ремни стяжные, буксировочные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Ремни стяжные, буксировочные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Ремни стяжные, буксировочные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Ремни стяжные, буксировочные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Ремни стяжные, буксировочные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
    li.subcatalog__item
      a(href="#").subcatalog__link Складская техника
        <svg version="1.1" width="12px" height="14px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004" fill="none">
          <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
        </svg>
      .subcatalog__sublist 
        ul
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Cтропы
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
            .subcatalog__sublist2
              ul
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Ремни стяжные, буксировочные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
    li.subcatalog__item
      a(href="#").subcatalog__link Колеса и колесные опоры
        <svg version="1.1" width="12px" height="14px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004" fill="none">
          <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
        </svg>
      .subcatalog__sublist 
        ul
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Cтропы
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
            .subcatalog__sublist2
              ul
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Текстильные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Канатные
                li.subcatalog__subitem
                  a(href="#").subcatalog__sublink Цепные
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Ремни стяжные, буксировочные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Тали электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Лебедки ручные
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
          li.subcatalog__subitem
            a(href="#").subcatalog__sublink Лебедки электрические
              <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
              </svg>
//	/subcatalog 