doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="keywords" content="")
    meta(name="description" content="")
    
    meta(name="robots" content="noindex, nofollow")

    block title

    //- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
    //- link(rel="stylesheet", href="css/libs/fullpage.css")
    //- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
    //- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
    //- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
    //- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
    //- link(rel="stylesheet", href="css/libs/slick.css")
    //- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
    //- link(rel="stylesheet", href="css/libs/aos.css")
    link(rel="stylesheet", href="css/libs/swiper-bundle.min.css")


    link(rel="stylesheet" href="css/style.css")

  body 

    block content

    script(src="js/libs/jquery.min.js") 
    //- script(src="js/libs/jquery.fancybox.min.js")
    //- script(src="js/libs/slick.min.js")
    //- script(src="js/libs/jquery.matchHeight-min.js")
    //- script(src="js/libs/jquery.inputmask.min.js")
    //- script(src="js/libs/autosize.min.js")
    //- script(src="js/libs/tooltipster.bundle.min.js")
    //- script(src="js/libs/jquery.mmenu.min.all.js")
    //- script(src="js/libs/fullpage.min.js")
    //- script(src="js/libs/jquery.vide.min.js")
    //- script(src="js/libs/jquery.scrollbar.min.js")
    //- script(src="js/libs/aos.js")
    //- script(src="js/libs/circle-progress.min.js")
    script(src="js/libs/bootstrap.bundle.min.js") 
    //- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
    //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")
    script(src="js/libs/swiper-bundle.min.js") 
    script(src="js/scripts.js")