// footer
footer.footer 
  .container 
    .row.gy-3
      .col-lg-3.col-sm-6 
        a(href="#").footer__logo 
          img(src="img/logo_footer.png", alt="")
        .footer__social 
          ul 
            li 
              a(href="#") 
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="26px" viewBox="0 0 97.75 97.75" fill="none">
                  <path d="M48.875,0C21.883,0,0,21.882,0,48.875S21.883,97.75,48.875,97.75S97.75,75.868,97.75,48.875S75.867,0,48.875,0zM73.667,54.161c2.278,2.225,4.688,4.319,6.733,6.774c0.906,1.086,1.76,2.209,2.41,3.472c0.928,1.801,0.09,3.776-1.522,3.883l-10.013-0.002c-2.586,0.214-4.644-0.829-6.379-2.597c-1.385-1.409-2.67-2.914-4.004-4.371c-0.545-0.598-1.119-1.161-1.803-1.604c-1.365-0.888-2.551-0.616-3.333,0.81c-0.797,1.451-0.979,3.059-1.055,4.674c-0.109,2.361-0.821,2.978-3.19,3.089c-5.062,0.237-9.865-0.531-14.329-3.083c-3.938-2.251-6.986-5.428-9.642-9.025c-5.172-7.012-9.133-14.708-12.692-22.625c-0.801-1.783-0.215-2.737,1.752-2.774c3.268-0.063,6.536-0.055,9.804-0.003c1.33,0.021,2.21,0.782,2.721,2.037c1.766,4.345,3.931,8.479,6.644,12.313c0.723,1.021,1.461,2.039,2.512,2.76c1.16,0.796,2.044,0.533,2.591-0.762c0.35-0.823,0.501-1.703,0.577-2.585c0.26-3.021,0.291-6.041-0.159-9.05c-0.28-1.883-1.339-3.099-3.216-3.455c-0.956-0.181-0.816-0.535-0.351-1.081c0.807-0.944,1.563-1.528,3.074-1.528l11.313-0.002c1.783,0.35,2.183,1.15,2.425,2.946l0.01,12.572c-0.021,0.695,0.349,2.755,1.597,3.21c1,0.33,1.66-0.472,2.258-1.105c2.713-2.879,4.646-6.277,6.377-9.794c0.764-1.551,1.423-3.156,2.063-4.764c0.476-1.189,1.216-1.774,2.558-1.754l10.894,0.013c0.321,0,0.647,0.003,0.965,0.058c1.836,0.314,2.339,1.104,1.771,2.895c-0.894,2.814-2.631,5.158-4.329,7.508c-1.82,2.516-3.761,4.944-5.563,7.471C71.48,50.992,71.611,52.155,73.667,54.161z"/>
                </svg>
            li 
              a(href="#") 
                <svg enable-background="new 0 0 512 512" height="26px" viewBox="0 0 512 512" width="26px" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m512 256c0-141.4-114.6-256-256-256s-256 114.6-256 256 114.6 256 256 256c1.5 0 3 0 4.5-.1v-199.2h-55v-64.1h55v-47.2c0-54.7 33.4-84.5 82.2-84.5 23.4 0 43.5 1.7 49.3 2.5v57.2h-33.6c-26.5 0-31.7 12.6-31.7 31.1v40.8h63.5l-8.3 64.1h-55.2v189.5c107-30.7 185.3-129.2 185.3-246.1z"/></svg>
            li 
              a(href="#") 
                <svg height="26px" viewBox="0 0 512 512" width="26px" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m224.113281 303.960938 83.273438-47.960938-83.273438-47.960938zm0 0"/><path d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm159.960938 256.261719s0 51.917969-6.585938 76.953125c-3.691406 13.703125-14.496094 24.507812-28.199219 28.195312-25.035156 6.589844-125.175781 6.589844-125.175781 6.589844s-99.878906 0-125.175781-6.851562c-13.703125-3.6875-24.507813-14.496094-28.199219-28.199219-6.589844-24.769531-6.589844-76.949219-6.589844-76.949219s0-51.914062 6.589844-76.949219c3.6875-13.703125 14.757812-24.773437 28.199219-28.460937 25.035156-6.589844 125.175781-6.589844 125.175781-6.589844s100.140625 0 125.175781 6.851562c13.703125 3.6875 24.507813 14.496094 28.199219 28.199219 6.851562 25.035157 6.585938 77.210938 6.585938 77.210938zm0 0"/></svg>
        a(href="#").footer__policy Политика конфиденциальности
      .col-lg-3.col-sm-6.order-sm-0.order-1
        .footer__list 
          ul
            li 
              a(href="#") О компании
            li 
              a(href="#") Новости
            li 
              a(href="#") Партнерам
            li 
              a(href="#") Доставка и оплата
            li 
              a(href="#") Контакты
      .col-lg-3.col-sm-6.order-lg-0.order-1
        .footer__list 
          ul
            li 
              a(href="#") Видео
            li 
              a(href="#") Каталог
            li 
              a(href="#") Документация
            li 
              a(href="#") Скачать реквизиты
            li 
              a(href="#") Статьи
      .col-lg-3.col-sm-6 
        .footer__list 
          ul 
            li 
              a(href="tel:84951592930") 
                .footer__item.footer__item--big 
                  .footer__icon 
                    <svg version="1.1" width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                      <path d="M213,300c-48.9-48.9-59.9-97.7-62.4-117.3c-0.7-5.4,1.2-10.8,5-14.7l39.5-39.5c5.8-5.8,6.8-14.9,2.5-21.8l-63-97.8c-4.8-7.7-14.7-10.5-22.9-6.4L10.8,50C4.2,53.2,0.3,60.2,1.1,67.5c5.3,50.3,27.2,174,148.8,295.6s245.2,143.5,295.6,148.8c7.3,0.7,14.3-3.1,17.5-9.7l47.6-101.1c4.1-8.1,1.3-18-6.4-22.8l-97.8-62.9c-7-4.4-16-3.3-21.8,2.5L345,357.3c-3.8,3.9-9.3,5.7-14.7,5C310.8,359.9,261.9,348.9,213,300L213,300z"/>
                    </svg>
                  div
                    p 8 495 159 29 30
            li 
              .footer__item
                .footer__icon 
                  <svg width="14px" height="14px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm121.75 388.414062c-4.160156 4.160157-9.621094 6.253907-15.082031 6.253907-5.460938 0-10.925781-2.09375-15.082031-6.253907l-106.667969-106.664062c-4.011719-3.988281-6.25-9.410156-6.25-15.082031v-138.667969c0-11.796875 9.554687-21.332031 21.332031-21.332031s21.332031 9.535156 21.332031 21.332031v129.835938l100.417969 100.414062c8.339844 8.34375 8.339844 21.824219 0 30.164062zm0 0"/></svg>
                div
                  p ПН-ПТ: 09:00-18:00
                  p СБ-ВС: Выходной
            li 
              .footer__item
                .footer__icon 
                  <svg enable-background="new 0 0 24 24" width="16px" height="16px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 0c-4.962 0-9 4.066-9 9.065 0 7.103 8.154 14.437 8.501 14.745.143.127.321.19.499.19s.356-.063.499-.189c.347-.309 8.501-7.643 8.501-14.746 0-4.999-4.038-9.065-9-9.065zm0 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/></svg>
                div
                  p г. Екатеринбург, ул.
                  p Шефская, 1б/у
            li 
              a(href="mailto:infо@uralgpo.ru") 
                .footer__item
                  .footer__icon 
                    <svg version="1.1" width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                      <path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121"/>
                      <path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51C480.412,77.703,473.927,76,467,76z"/>
                      <path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"/>
                      <path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"/>
                    </svg>
                  div
                    p infо@uralgpo.ru
//	/footer