// header
header.header
  .header__top 
    .container
      a(href="#").header__logo.align-self-center
        img(src="img/logo.png", alt="")
      .header__col 
        .header__items 
          .header__item.text-gray.text-ttu 
            .header__item-icon 
              <svg width="12px" height="12px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm121.75 388.414062c-4.160156 4.160157-9.621094 6.253907-15.082031 6.253907-5.460938 0-10.925781-2.09375-15.082031-6.253907l-106.667969-106.664062c-4.011719-3.988281-6.25-9.410156-6.25-15.082031v-138.667969c0-11.796875 9.554687-21.332031 21.332031-21.332031s21.332031 9.535156 21.332031 21.332031v129.835938l100.417969 100.414062c8.339844 8.34375 8.339844 21.824219 0 30.164062zm0 0"/></svg>
            | Время работы:
          .header__item
            .header__item-icon.header__item-icon--hide
            | ПН-ПТ: 09:00-18:00
          .header__item
            .header__item-icon.header__item-icon--hide
            | СБ-ВС: Выходной
      .header__col.d-none.d-md-block
        .header__items 
          a(href="tel:8 495 159 29 30").header__item.header__tel 
            .header__item-icon 
              <svg version="1.1" width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path id="Shape" d="M213,300c-48.9-48.9-59.9-97.7-62.4-117.3c-0.7-5.4,1.2-10.8,5-14.7l39.5-39.5c5.8-5.8,6.8-14.9,2.5-21.8l-63-97.8c-4.8-7.7-14.7-10.5-22.9-6.4L10.8,50C4.2,53.2,0.3,60.2,1.1,67.5c5.3,50.3,27.2,174,148.8,295.6s245.2,143.5,295.6,148.8c7.3,0.7,14.3-3.1,17.5-9.7l47.6-101.1c4.1-8.1,1.3-18-6.4-22.8l-97.8-62.9c-7-4.4-16-3.3-21.8,2.5L345,357.3c-3.8,3.9-9.3,5.7-14.7,5C310.8,359.9,261.9,348.9,213,300L213,300z"/>
              </svg>
            | 8 495 159 29 30
          .header__item 
            .header__item-icon 
              <svg enable-background="new 0 0 24 24" width="9px" height="11px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 0c-4.962 0-9 4.066-9 9.065 0 7.103 8.154 14.437 8.501 14.745.143.127.321.19.499.19s.356-.063.499-.189c.347-.309 8.501-7.643 8.501-14.746 0-4.999-4.038-9.065-9-9.065zm0 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/></svg>
            | г. Екатеринбург, ул. Шефская, 1б/у
          a(href="mailto:infо@uralgpo.ru").header__item 
            .header__item-icon 
              <svg version="1.1" width="12px" height="9px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121"/>
                <path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51C480.412,77.703,473.927,76,467,76z"/>
                <path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"/>
                <path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"/>
              </svg>
            | infо@uralgpo.ru
      .header__col 
        .header__btn.btn.btn--white Заказать звонок
        .header__cart 
          .header__item-icon 
            <svg width="12px" height="12px" enable-background="new 0 0 511.334 511.334" viewBox="0 0 511.334 511.334" xmlns="http://www.w3.org/2000/svg"><path d="m506.887 114.74c-3.979-5.097-10.086-8.076-16.553-8.076h-399.808l-5.943-66.207c-.972-10.827-10.046-19.123-20.916-19.123h-42.667c-11.598 0-21 9.402-21 21s9.402 21 21 21h23.468l23.018 256.439c.005.302-.01.599.007.903.047.806.152 1.594.286 2.37l.842 9.376c.016.177.034.354.055.529 2.552 22.11 13.851 41.267 30.19 54.21-8.466 10.812-13.532 24.407-13.532 39.172 0 35.106 28.561 63.667 63.666 63.667 35.106 0 63.667-28.561 63.667-63.667 0-7.605-1.345-14.9-3.801-21.667h114.936c-2.457 6.767-3.801 14.062-3.801 21.667 0 35.106 28.561 63.667 63.667 63.667s63.667-28.561 63.667-63.667-28.561-63.667-63.667-63.667h-234.526c-15.952 0-29.853-9.624-35.853-23.646l335.608-19.724c9.162-.538 16.914-6.966 19.141-15.87l42.67-170.67c1.567-6.272.158-12.918-3.821-18.016z"/></svg>
            .header__cart-num 20
          span.text-gray Товаров (500 000 ₽) в 
            a(href="#") Корзине
  .header__bottom
    #stiky
      // menu
      .menu
        .container 
          nav.menu__nav 
            ul.menu__list 
              li.menu__catalog-btn 
                a(href="#").js-drop-btn(data-drop="catalog-menu")
                  <svg version="1.1" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" fill= "none">
                    <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M362.667,362.667H149.333c-11.797,0-21.333-9.557-21.333-21.333c0-11.776,9.536-21.333,21.333-21.333h213.333c11.797,0,21.333,9.557,21.333,21.333C384,353.109,374.464,362.667,362.667,362.667z M362.667,277.333H149.333C137.536,277.333,128,267.776,128,256s9.536-21.333,21.333-21.333h213.333c11.797,0,21.333,9.557,21.333,21.333S374.464,277.333,362.667,277.333z M362.667,192H149.333C137.536,192,128,182.443,128,170.667s9.536-21.333,21.333-21.333h213.333c11.797,0,21.333,9.557,21.333,21.333S374.464,192,362.667,192z"/>
                  </svg>
                  span.d-none.d-md-block Каталог
              li 
                a(href="#") О компании           
              li 
                a(href="#") Новости
              li 
                a(href="#") Партнерам
              li 
                a(href="#") Доставка и оплата
              li 
                a(href="#") Контакты
              li.menu__search 
                a(href="#").js-drop-btn(data-drop="search")
                  <svg version="1.1" width="19px" height="19px" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <path d="M448.7,63.3C407.9,22.5,353.6,0,295.9,0s-112,22.5-152.8,63.3s-63.3,95.1-63.3,152.8c0,57.7,22.5,112,63.3,152.8c40.8,40.8,95.1,63.3,152.8,63.3s112-22.5,152.8-63.3c40.8-40.8,63.3-95.1,63.3-152.8S489.5,104.1,448.7,63.3z M412.3,332.6c-32.1,32.1-74.3,48.2-116.4,48.2c-42.2,0-84.3-16.1-116.4-48.2c-64.2-64.2-64.2-168.7,0-232.9c64.2-64.2,168.7-64.2,232.9,0C476.6,163.9,476.6,268.3,412.3,332.6z"/>
                    <path d="M97.5,357.5l-85.9,85.4C4.1,450.5,0,460.5,0,471.1s4.1,20.7,11.7,28.2c7.5,7.5,17.5,11.7,28.2,11.7s20.7-4.1,28.2-11.6l85.9-85.5c-10.9-7.5-21.3-16.1-30.8-25.6C113.5,378.7,105,368.4,97.5,357.5z"/>
                  </svg>
      //	/menu
      
      // catalog-menu 
      .catalog-menu#catalog-menu
        .container
          .catalog-menu__container
            .row
              .col-md-4
                .catalog-menu__title Грузоподъемное оборудование
                ul.catalog-menu__list 
                  li 
                    a.catalog-menu__link(href="#") Cтропы
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                    ul.catalog-menu__sublist 
                      li 
                        a.catalog-menu__sublink(href="#") Текстильные
                      li
                        a.catalog-menu__sublink(href="#") Канатные
                      li
                        a.catalog-menu__sublink(href="#") Цепные
                  li 
                    a.catalog-menu__link(href="#") Ремни стяжные, буксировочные
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                    ul.catalog-menu__sublist 
                      li 
                        a.catalog-menu__sublink(href="#") Текстильные
                      li
                        a.catalog-menu__sublink(href="#") Канатные
                      li
                        a.catalog-menu__sublink(href="#") Цепные
                  li 
                    a.catalog-menu__link(href="#") Тали ручные
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                    ul.catalog-menu__sublist 
                      li 
                        a.catalog-menu__sublink(href="#") Текстильные
                      li
                        a.catalog-menu__sublink(href="#") Канатные
                      li
                        a.catalog-menu__sublink(href="#") Цепные
                  li 
                    a.catalog-menu__link(href="#") Тали электрические
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                    ul.catalog-menu__sublist 
                      li 
                        a.catalog-menu__sublink(href="#") Текстильные
                      li
                        a.catalog-menu__sublink(href="#") Канатные
                      li
                        a.catalog-menu__sublink(href="#") Цепные
                  li 
                    a.catalog-menu__link(href="#") Лебедки ручные
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Лебедки электрические
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Домкраты
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Блоки монтажные
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Захваты
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Весы крановые
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Тележки для талей
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
              .col-md-4
                .catalog-menu__title Складская техника
                ul.catalog-menu__list 
                  li 
                    a.catalog-menu__link(href="#") Штабелёры
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Тележки складские
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                .catalog-menu__title Колеса и колесные опоры
                ul.catalog-menu__list 
                  li 
                    a.catalog-menu__link(href="#") Колесные опоры
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Колеса
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
              .col-md-4
                .catalog-menu__title Комплектующие для строп и такелаж
                ul.catalog-menu__list 
                  li 
                    a.catalog-menu__link(href="#") Комплектующие для текстильных строп
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Комплектующие для цепных строп
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Комплектующие для канатных строп
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Стяжные механизмы
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
                  li 
                    a.catalog-menu__link(href="#") Прочие комплектующие
                      <svg width="12" height="12" viewBox="0 0 466 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M281.2 226.804L62.252 7.86C57.188 2.792 50.428 0 43.22 0C36.012 0 29.252 2.792 24.188 7.86L8.064 23.98C-2.428 34.484 -2.428 51.556 8.064 62.044L191.92 245.9L7.86 429.96C2.796 435.028 0 441.784 0 448.988C0 456.2 2.796 462.956 7.86 468.028L23.984 484.144C29.052 489.212 35.808 492.004 43.016 492.004C50.224 492.004 56.984 489.212 62.048 484.144L281.2 265C286.276 259.916 289.064 253.128 289.048 245.912C289.064 238.668 286.276 231.884 281.2 226.804Z"/>
                        <path d="M458.2 226.804L239.252 7.86C234.188 2.792 227.428 0 220.22 0C213.012 0 206.252 2.792 201.188 7.86L185.064 23.98C174.572 34.484 174.572 51.556 185.064 62.044L368.92 245.9L184.86 429.96C179.796 435.028 177 441.784 177 448.988C177 456.2 179.796 462.956 184.86 468.028L200.984 484.144C206.052 489.212 212.808 492.004 220.016 492.004C227.224 492.004 233.984 489.212 239.048 484.144L458.2 265C463.276 259.916 466.064 253.128 466.048 245.912C466.064 238.668 463.276 231.884 458.2 226.804Z"/>
                      </svg>  
            ul.catalog-menu__mobile-list
              li
                a(href="#") О компании
              li
                a(href="#") Новости
              li
                a(href="#") Партнерам
              li
                a(href="#") Доставка и оплата
              li
                a(href="#") Контакты
      //	/catalog-menu 

      // search
      form(action="#").search#search
        .container 
          .search__container 
            .search__input 
              input(type="text" placeholder="Поиск по сайту")
              button(type="submit").search__icon 
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 638.99 639.01" fill="none">
                  <path class="st0" d="M270.98,481.3C150.66,481.3 53.11,385.3 53.11,266.89C53.11,148.47 150.66,52.48 270.98,52.48C391.31,52.48 488.85,148.47 488.85,266.89C488.85,385.3 391.31,481.3 270.98,481.3M619.7,592.21L461.69,436.72C503.07,391.77 528.49,332.31 528.49,266.89C528.47,126.93 413.19,13.5 270.98,13.5C128.77,13.5 13.5,126.93 13.5,266.89C13.5,406.84 128.77,520.28 270.98,520.28C332.43,520.28 388.78,499.03 433.05,463.7L591.67,619.79C599.4,627.41 611.95,627.41 619.68,619.79C627.43,612.18 627.43,599.82 619.7,592.21"/>
                  <path class="st1" d="M270.98,481.3C150.66,481.3 53.11,385.3 53.11,266.89C53.11,148.47 150.66,52.48 270.98,52.48C391.31,52.48 488.85,148.47 488.85,266.89C488.85,385.3 391.31,481.3 270.98,481.3ZM619.7,592.21L461.69,436.72C503.07,391.77 528.49,332.31 528.49,266.89C528.47,126.93 413.19,13.5 270.98,13.5C128.77,13.5 13.5,126.93 13.5,266.89C13.5,406.84 128.77,520.28 270.98,520.28C332.43,520.28 388.78,499.03 433.05,463.7L591.67,619.79C599.4,627.41 611.95,627.41 619.68,619.79C627.43,612.18 627.43,599.82 619.7,592.21Z"/>
                </svg>
            .search__variants
              a(href="#").search__variant Лебедки электрические (29)
              a(href="#").search__variant Лебедки ручные (18)
              a(href="#").search__variant Лебедки KDC (9)
      //	/search
//	/header

