extends core/base.pug

block title 
  title Категории товаров

block content

  .page 

    include core/header.pug

    .content 

      // main 
      .main 

        .main__img 
          img(src="img/main_bg.jpg", alt="")

        .container

          aside.main__menu 

            include blocks/subcatalog.pug

          main.main__content.main__content--padding-small

            // breadcrambs
            .breadcrambs
              ul 
                li 
                  a(href="#") Главная
                li 
                  a(href="#") Каталог продукции
            //	/breadcrambs

            // catalog-section
            .catalog-section
              h1.subtitle Стропы текстильные петлевые
              .row.gy-3 
                .col-md-4.col-sm-6 
                  a(href="#").catalog-section__item 
                    .catalog-section__img 
                      img(src="img/sibtal.jpg", alt="")
                    .catalog-section__title Стропы текстильные CТП
                .col-md-4.col-sm-6 
                  a(href="#").catalog-section__item 
                    .catalog-section__img 
                      img(src="img/catalog_20.jpg", alt="")
                    .catalog-section__title Стропы текстильные грузовые
                .col-md-4.col-sm-6 
                  a(href="#").catalog-section__item 
                    .catalog-section__img 
                      img(src="img/sibtal.jpg", alt="")
                    .catalog-section__title Стропы текстильные CТП
                .col-md-4.col-sm-6 
                  a(href="#").catalog-section__item 
                    .catalog-section__img 
                      img(src="img/sibtal.jpg", alt="")
                    .catalog-section__title Стропы текстильные CТП
                .col-md-4.col-sm-6 
                  a(href="#").catalog-section__item 
                    .catalog-section__img 
                      img(src="img/catalog_20.jpg", alt="")
                    .catalog-section__title Стропы текстильные грузовые
                .col-md-4.col-sm-6 
                  a(href="#").catalog-section__item 
                    .catalog-section__img 
                      img(src="img/sibtal.jpg", alt="")
                    .catalog-section__title Стропы текстильные CТП
            //	/catalog-section

            // sortblock
            .sortblock
              .row.gy-3
                .col-md-7 
                  .filter__title 
                    img(src="img/noun_kg.png", alt="")
                    | Выбрать грузоподъёмность:
                  form(action="#").filter__items 
                    .filter__items-row 
                      .filter__item
                        input#load_0(type="radio" name="load" checked)
                        label(for="load_0")  0.5 т
                      .filter__item
                        input#load_1(type="radio" name="load")
                        label(for="load_1")  1 т
                      .filter__item
                        input#load_2(type="radio" name="load")
                        label(for="load_2")  2 т
                      .filter__item
                        input#load_3(type="radio" name="load")
                        label(for="load_3")  3 т
                      .filter__item
                        input#load_4(type="radio" name="load")
                        label(for="load_4")  5 т
                      .filter__item
                        input#load_5(type="radio" name="load")
                        label(for="load_5")  0.5 т
                      .filter__item
                        input#load_6(type="radio" name="load")
                        label(for="load_6")  1 т
                      .filter__item
                        input#load_7(type="radio" name="load")
                        label(for="load_7")  2 т
                      .filter__item
                        input#load_8(type="radio" name="load")
                        label(for="load_8")  3 т
                      .filter__item
                        input#load_9(type="radio" name="load")
                        label(for="load_9")  5 т
                      .filter__item
                        input#load_10(type="radio" name="load")
                        label(for="load_10")  0.5 т
                      .filter__item
                        input#load_11(type="radio" name="load")
                        label(for="load_11")  1 т
                      .filter__item
                        input#load_12(type="radio" name="load")
                        label(for="load_12")  2 т
                      .filter__item
                        input#load_13(type="radio" name="load")
                        label(for="load_13")  3 т
                      .filter__item
                        input#load_14(type="radio" name="load")
                        label(for="load_14")  5 т
                      .filter__item
                        input#load_15(type="radio" name="load")
                        label(for="load_15")  0.5 т
                      .filter__item
                        input#load_16(type="radio" name="load")
                        label(for="load_16")  1 т
                      .filter__item
                        input#load_17(type="radio" name="load")
                        label(for="load_17")  2 т
                      .filter__item
                        input#load_18(type="radio" name="load")
                        label(for="load_18")  3 т
                      .filter__item
                        input#load_19(type="radio" name="load")
                        label(for="load_19")  5 т
                .col-md-5 
                  .sortblock__item 
                    .sortblock__head.js-drop-btn(data-drop="dropItem")
                      .sortblock__icon 
                        img(src="img/noun_wholesale.png", alt="")
                      | Для оптовых поупателей
                      .sortblock__arrow 
                        <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" fill="none">
                          <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M335.083,271.083L228.416,377.749c-4.16,4.16-9.621,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251c-8.341-8.341-8.341-21.824,0-30.165L289.835,256l-91.584-91.584c-8.341-8.341-8.341-21.824,0-30.165s21.824-8.341,30.165,0l106.667,106.667C343.424,249.259,343.424,262.741,335.083,271.083z"/>
                        </svg>
                    .sortblock__drop#dropItem Оптовые цены можно уточнить у менеджеров!
            //	/sortblock

            // category-description
            .category-description
              .subtitle Стропы текстильные СТП
              .category-description__content 
                .category-description__img 
                  img(src="img/sibtal.jpg", alt="")
                p Текстильные стропы стп от торговой марки «СИБТАЛЬ» выполнены строго по Российскому «ГОСТУ» с соблюдением всех требований Российского законодательства. Их стоимость на 20% ниже цветных аналогов, при этом не уступают окрашенным вариантам по качеству и грузоподъемности. Все изделия выполнены из качественной полиэстерной ленты. Они хорошо сопротивляются воздействию влаги, не растягиваются даже при достаточно сильных нагрузках.
                p Вся продукция проходит испытания на соответствие запаса прочности 7:1. Благодаря этому их использовать можно даже в условиях повышенной влажности. Мы самостоятельно размещаем заказы на производство! Это позволяет выполнять любые запросы, включая пошив нетиповых изделий с усиленной грузоподъемностью и разрывными характеристиками без изменения стоимости товара!
              .category-description__items 
                a(href="#").category-description__item 
                  <svg enable-background="new 0 0 512 512" height="22" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg" fill="#db0909"><path d="m330 150c-19.299 0-35-15.701-35-35v-115h-179c-30.327 0-55 24.673-55 55v402c0 30.327 24.673 55 55 55h280c30.327 0 55-24.673 55-55v-307zm-187 210h72.72c8.284 0 15 6.716 15 15s-6.716 15-15 15h-72.72c-8.284 0-15-6.716-15-15s6.716-15 15-15zm-15-65c0-8.284 6.716-15 15-15h220c8.284 0 15 6.716 15 15s-6.716 15-15 15h-220c-8.284 0-15-6.716-15-15zm235-95c8.284 0 15 6.716 15 15s-6.716 15-15 15h-220c-8.284 0-15-6.716-15-15s6.716-15 15-15z"/><path d="m325 115c0 2.757 2.243 5 5 5h114.314c-2.744-5.066-6.274-9.719-10.515-13.732l-96.423-91.222c-3.742-3.54-7.91-6.493-12.375-8.825v108.779z"/></svg>
                  | Документация
                a(href="#").category-description__item 
                  <svg enable-background="new 0 0 512 512" height="19" viewBox="0 0 512 512" width="19" xmlns="http://www.w3.org/2000/svg" fill="#db0909"><g><path d="m356.016 16h-70.018l-120.005 90h70.017z"/><path d="m477.012 16h-71.014l-120.005 90h70.017z"/><path d="m405.991 106h106.009v-75c0-1.157-.41-2.179-.657-3.261z"/><path d="m44.993 106h71.017l120.006-90h-70.018z"/><path d="m0 481c0 8.291 6.709 15 15 15h482c8.291 0 15-6.709 15-15v-345h-512zm181-270c0-5.405 2.9-10.386 7.603-13.052s10.474-2.593 15.117.19l150 90c4.512 2.71 7.28 7.588 7.28 12.861s-2.769 10.151-7.28 12.861l-150 90c-4.646 2.782-10.419 2.854-15.117.19-4.703-2.664-7.603-7.645-7.603-13.05z"/><path d="m15 16c-8.291 0-15 6.709-15 15v71.257l116.016-86.257z"/><path d="m211 237.499v127.002l105.85-63.501z"/></g></svg>
                  | Видео
            //	/category-description

            // table
            .table.scrollbar-inner
              .table__container
                .table__head 
                  .table__cell Модель
                  .table__cell Г/П,Т.
                  .table__cell Длина,М.
                  .table__cell Емкость барабана, ММ.
                  .table__cell Компл-я канатом
                  .table__cell Скорость м/с
                  .table__cell Мощность КВТ
                  .table__cell Рабочее нип-ие в
                  .table__cell Вес, кг
                  .table__cell Цена, Р.
                .table__body.scrollbar-inner
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
            //	/table

            // category-description
            .category-description
              .subtitle Стропы текстильные грузовые
              .category-description__content 
                .category-description__img 
                  img(src="img/catalog_20.jpg", alt="")
                p Грузовые текстильные стропы стп пользуются большим спросом в грузоподъемных, погрузочно-разгрузочных работах с грузами, требующими деликатного подхода. Благодаря гибкой, тканевой вязке они не оставляют царапин и не деформируют груз. Поэтому их часто предпочитают при передвижении грузов из дерева, пластика и хрупких материалов. Особенность их в том, что они представляют собой ленточную вязку со сшитыми петлями по краям. Они изготавливаются из синтетического ленточного материала (полиэстер, полипропилен и др.) и имеют качественный шов петлей.
              .category-description__items 
                a(href="#").category-description__item 
                  <svg enable-background="new 0 0 512 512" height="22" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg" fill="#db0909"><path d="m330 150c-19.299 0-35-15.701-35-35v-115h-179c-30.327 0-55 24.673-55 55v402c0 30.327 24.673 55 55 55h280c30.327 0 55-24.673 55-55v-307zm-187 210h72.72c8.284 0 15 6.716 15 15s-6.716 15-15 15h-72.72c-8.284 0-15-6.716-15-15s6.716-15 15-15zm-15-65c0-8.284 6.716-15 15-15h220c8.284 0 15 6.716 15 15s-6.716 15-15 15h-220c-8.284 0-15-6.716-15-15zm235-95c8.284 0 15 6.716 15 15s-6.716 15-15 15h-220c-8.284 0-15-6.716-15-15s6.716-15 15-15z"/><path d="m325 115c0 2.757 2.243 5 5 5h114.314c-2.744-5.066-6.274-9.719-10.515-13.732l-96.423-91.222c-3.742-3.54-7.91-6.493-12.375-8.825v108.779z"/></svg>
                  | Документация
                a(href="#").category-description__item 
                  <svg enable-background="new 0 0 512 512" height="19" viewBox="0 0 512 512" width="19" xmlns="http://www.w3.org/2000/svg" fill="#db0909"><g><path d="m356.016 16h-70.018l-120.005 90h70.017z"/><path d="m477.012 16h-71.014l-120.005 90h70.017z"/><path d="m405.991 106h106.009v-75c0-1.157-.41-2.179-.657-3.261z"/><path d="m44.993 106h71.017l120.006-90h-70.018z"/><path d="m0 481c0 8.291 6.709 15 15 15h482c8.291 0 15-6.709 15-15v-345h-512zm181-270c0-5.405 2.9-10.386 7.603-13.052s10.474-2.593 15.117.19l150 90c4.512 2.71 7.28 7.588 7.28 12.861s-2.769 10.151-7.28 12.861l-150 90c-4.646 2.782-10.419 2.854-15.117.19-4.703-2.664-7.603-7.645-7.603-13.05z"/><path d="m15 16c-8.291 0-15 6.709-15 15v71.257l116.016-86.257z"/><path d="m211 237.499v127.002l105.85-63.501z"/></g></svg>
                  | Видео
            //	/category-description

            // table
            .table.scrollbar-inner
              .table__container
                .table__head 
                  .table__cell Модель
                  .table__cell Г/П,Т.
                  .table__cell Длина,М.
                  .table__cell Емкость барабана, ММ.
                  .table__cell Компл-я канатом
                  .table__cell Скорость м/с
                  .table__cell Мощность КВТ
                  .table__cell Рабочее нип-ие в
                  .table__cell Вес, кг
                  .table__cell Цена, Р.
                .table__body.scrollbar-inner
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
                  .table__row 
                    .table__cell Строп СТП
                    .table__cell 2
                    .table__cell 1
                    .table__cell 60
                    .table__cell Да
                    .table__cell 0,2
                    .table__cell 1,6
                    .table__cell 220
                    .table__cell 40
                    .table__cell 158
                    .table__cell 
                      .table__cart 
                        <svg enable-background="new 0 0 511.728 511.728" height="19" viewBox="0 0 511.728 511.728" width="21" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="m147.925 379.116c-22.357-1.142-21.936-32.588-.001-33.68 62.135.216 226.021.058 290.132.103 17.535 0 32.537-11.933 36.481-29.017l36.404-157.641c2.085-9.026-.019-18.368-5.771-25.629s-14.363-11.484-23.626-11.484c-25.791 0-244.716-.991-356.849-1.438l-17.775-65.953c-4.267-15.761-18.65-26.768-34.978-26.768h-56.942c-8.284 0-15 6.716-15 15s6.716 15 15 15h56.942c2.811 0 5.286 1.895 6.017 4.592l68.265 253.276c-12.003.436-23.183 5.318-31.661 13.92-8.908 9.04-13.692 21.006-13.471 33.695.442 25.377 21.451 46.023 46.833 46.023h21.872c-3.251 6.824-5.076 14.453-5.076 22.501 0 28.95 23.552 52.502 52.502 52.502s52.502-23.552 52.502-52.502c0-8.049-1.826-15.677-5.077-22.501h94.716c-3.248 6.822-5.073 14.447-5.073 22.493 0 28.95 23.553 52.502 52.502 52.502 28.95 0 52.503-23.553 52.503-52.502 0-8.359-1.974-16.263-5.464-23.285 5.936-1.999 10.216-7.598 10.216-14.207 0-8.284-6.716-15-15-15zm91.799 52.501c0 12.408-10.094 22.502-22.502 22.502s-22.502-10.094-22.502-22.502c0-12.401 10.084-22.491 22.483-22.501h.038c12.399.01 22.483 10.1 22.483 22.501zm167.07 22.494c-12.407 0-22.502-10.095-22.502-22.502 0-12.285 9.898-22.296 22.137-22.493h.731c12.24.197 22.138 10.208 22.138 22.493-.001 12.407-10.096 22.502-22.504 22.502zm74.86-302.233c.089.112.076.165.057.251l-15.339 66.425h-51.942l8.845-67.023 58.149.234c.089.002.142.002.23.113zm-154.645 163.66v-66.984h53.202l-8.84 66.984zm-74.382 0-8.912-66.984h53.294v66.984zm-69.053 0h-.047c-3.656-.001-6.877-2.467-7.828-5.98l-16.442-61.004h54.193l8.912 66.984zm56.149-96.983-9.021-67.799 66.306.267v67.532zm87.286 0v-67.411l66.022.266-8.861 67.145zm-126.588-67.922 9.037 67.921h-58.287l-18.38-68.194zm237.635 164.905h-36.426l8.84-66.984h48.973l-14.137 61.217c-.784 3.396-3.765 5.767-7.25 5.767z"/></svg>
            //	/table

            // texteditor
            .texteditor
              p Стропы текстильные петлевые СТП - это специальное грузоподъемное оснащение, которое предназначено для надежной фиксации, поднятия и перемещения тяжеловесных предметов. Благодаря своей повышенной гибкости, является наиболее универсальным приспособлением для работы с тяжестями.
              h2 Сфера применения
              p Стропы текстильные петлевые широко используют при строительстве различных зданий, а также на многих промышленных предприятиях. Особенно часто применяют при транспортировке грузов из дерева, пластика, полипропилена, стекла и других деликатных предметов. Они подходят для погрузки и разгрузки танкеров, барж и прочих морских судов, а также выполнения складских работ
              h2 Достоинства и недостатки
              p Среди достоинств петлевых текстильных строп стп можно выделить:
              ol 
                li Безопасность
                  span Отсутствие торчащей проволоки предотвращает повреждение деликатного груза, а также рук строповщиков. В случае разрыва, грузоподъемные приспособления такого типа не нанесут вреда находящимся рядом людям.
                li Устойчивость к внешним воздействиям.
                  span Материал хорошо противостоит большинству химических веществ, включая воду, нефть и растворители. Он не теряет своих функциональных характеристик в случае прямого попадания солнечных лучей и температурных перепадов. Использовать подобные приспособления можно в любых климатических зонах.
                li Высокая прочность.
                  span Для производства лент используется качественный полиэстер с большим запасом прочности. Таким образом, модели хорошо выдерживают даже высокоинтенсивные нагрузки.
                li Малый вес и компактные габариты.
                  span Благодаря небольшой массе и компактным размерам, хранить и транспортировать грузоподъемные приспособления будет максимально удобно.
                li Долговечность.
                  span После выполнения необходимых работ, оснащение принимает свою первоначальную форму, так что является достаточно стойким к износу.
                li Удобство в использовании.
                  span Высокая эластичность делает работу с грузоподъемным оснащением такого типа максимально удобной. При этом перемещение текстильных строп вдоль всего груза не доставляет никаких трудностей;
                li Универсальность.
                  span Есть несколько вариантов крепления грузов с помощью таких приспособлений, что позволяет выполнять погрузочно-разгрузочные работы с любыми объектами.
              p В то же время, стропы текстильные петлевые стп не подходят для транспортировки грузов с острыми краями (необходимы специальные подкладки). Кроме того, они не предназначены для перемещения объектов в горизонтальной плоскости.
              mark 
                h3 Важно!
                p Перед началом проведения грузоподъемных работ необходимо провести тщательный осмотр оснащения: при наличии порезов, разрывов и прочих дефектов эксплуатация приспособлений запрещена.
            //	/texteditor

            // choose
            .choose
              .subtitle.subtitle--center Как выбрать
              .row.gy-3.justify-content-center.mb-2
                .col-xl-4.col-sm-6 
                  .choose__item 
                    .choose__icon 
                      img(src="img/noun_measure.png", alt="")
                    .choose__title Длина и ширина ленты
                    .choose__text Параметр определяет максимальную высоту поднятия груза, а также отвечает за надежность фиксации предметов при транспортировке.
                .col-xl-4.col-sm-6 
                  .choose__item 
                    .choose__icon 
                      img(src="img/noun_weight.png", alt="")
                    .choose__title Максимально допустимый вес
                    .choose__text Грузоподъемность находится в диапазоне от 0,5 до 10 т
                .col-xl-4.col-sm-6 
                  .choose__item 
                    .choose__icon 
                      img(src="img/noun_color.png", alt="")
                    .choose__title Цвет
                    .choose__text У нас есть неокрашенные и цветные модели. Белые петлевые стп дешевле своих аналогов, зато цветные приспособления легче заметить на грузе.
              .choose__ps Мы предлагаем вам приобрести качественные и надежные петлевые текстильные стропы стп от лучших отечественных и зарубежных производителей.
            //	/choose

            include blocks/banner.pug

      //	/main 

    include core/footer.pug
