extends core/base.pug

block title 
  title Категории товаров

block content

  .page 

    include core/header.pug

    .content 

      // main 
      .main 

        .main__img 
          img(src="img/main_bg.jpg", alt="")

        .container

          aside.main__menu 

            include blocks/subcatalog.pug

          main.main__content.main__content--padding-small

            // breadcrambs
            .breadcrambs
              ul 
                li 
                  a(href="#") Главная
                li 
                  a(href="#") Каталог продукции
            //	/breadcrambs

            

            // texteditor
            .texteditor
              p Стропы текстильные петлевые СТП - это специальное грузоподъемное оснащение, которое предназначено для надежной фиксации, поднятия и перемещения тяжеловесных предметов. Благодаря своей повышенной гибкости, является наиболее универсальным приспособлением для работы с тяжестями.
              h2 Сфера применения
              p Стропы текстильные петлевые широко используют при строительстве различных зданий, а также на многих промышленных предприятиях. Особенно часто применяют при транспортировке грузов из дерева, пластика, полипропилена, стекла и других деликатных предметов. Они подходят для погрузки и разгрузки танкеров, барж и прочих морских судов, а также выполнения складских работ
              h2 Достоинства и недостатки
              p Среди достоинств петлевых текстильных строп стп можно выделить:
              ol 
                li Безопасность
                  span Отсутствие торчащей проволоки предотвращает повреждение деликатного груза, а также рук строповщиков. В случае разрыва, грузоподъемные приспособления такого типа не нанесут вреда находящимся рядом людям.
                li Устойчивость к внешним воздействиям.
                  span Материал хорошо противостоит большинству химических веществ, включая воду, нефть и растворители. Он не теряет своих функциональных характеристик в случае прямого попадания солнечных лучей и температурных перепадов. Использовать подобные приспособления можно в любых климатических зонах.
                li Высокая прочность.
                  span Для производства лент используется качественный полиэстер с большим запасом прочности. Таким образом, модели хорошо выдерживают даже высокоинтенсивные нагрузки.
                li Малый вес и компактные габариты.
                  span Благодаря небольшой массе и компактным размерам, хранить и транспортировать грузоподъемные приспособления будет максимально удобно.
                li Долговечность.
                  span После выполнения необходимых работ, оснащение принимает свою первоначальную форму, так что является достаточно стойким к износу.
                li Удобство в использовании.
                  span Высокая эластичность делает работу с грузоподъемным оснащением такого типа максимально удобной. При этом перемещение текстильных строп вдоль всего груза не доставляет никаких трудностей;
                li Универсальность.
                  span Есть несколько вариантов крепления грузов с помощью таких приспособлений, что позволяет выполнять погрузочно-разгрузочные работы с любыми объектами.
              p В то же время, стропы текстильные петлевые стп не подходят для транспортировки грузов с острыми краями (необходимы специальные подкладки). Кроме того, они не предназначены для перемещения объектов в горизонтальной плоскости.
              mark 
                h3 Важно!
                p Перед началом проведения грузоподъемных работ необходимо провести тщательный осмотр оснащения: при наличии порезов, разрывов и прочих дефектов эксплуатация приспособлений запрещена.
            //	/texteditor

            include blocks/banner.pug

      //	/main 

    include core/footer.pug
