extends core/base.pug

block title 
  title Контакты

block content

  .page 

    include core/header.pug

    .content 

      // main 
      .main 

        .main__img 
          img(src="img/main_bg.jpg", alt="")

        .container

          aside.main__menu 

            include blocks/subcatalog.pug

          main.main__content.main__content--padding-small

            // breadcrambs
            .breadcrambs
              ul 
                li 
                  a(href="#") Главная
            //	/breadcrambs

            // contact
            .contact
              .subtitle Контактная информация
              .contact__row 
                .contact__content 
                  .contact__title Екатеринбург
                  .contact__list 
                    ul 
                      li 
                        span.header__item-icon 
                          <svg enable-background="new 0 0 24 24" width="12px" height="12px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 0c-4.962 0-9 4.066-9 9.065 0 7.103 8.154 14.437 8.501 14.745.143.127.321.19.499.19s.356-.063.499-.189c.347-.309 8.501-7.643 8.501-14.746 0-4.999-4.038-9.065-9-9.065zm0 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/></svg>
                        | г. Екатеринбург, ул. Шефская, 1б/у
                      li 
                        span.header__item-icon 
                          <svg width="12px" height="12px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm121.75 388.414062c-4.160156 4.160157-9.621094 6.253907-15.082031 6.253907-5.460938 0-10.925781-2.09375-15.082031-6.253907l-106.667969-106.664062c-4.011719-3.988281-6.25-9.410156-6.25-15.082031v-138.667969c0-11.796875 9.554687-21.332031 21.332031-21.332031s21.332031 9.535156 21.332031 21.332031v129.835938l100.417969 100.414062c8.339844 8.34375 8.339844 21.824219 0 30.164062zm0 0"/></svg>
                        | ПН-ПТ: 09:00-18:00;    СБ-ВС: Выходной
                      li 
                        a(href="tel:8 4951592930").contact__tel
                          span.header__item-icon 
                            <svg version="1.1" width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path id="Shape" d="M213,300c-48.9-48.9-59.9-97.7-62.4-117.3c-0.7-5.4,1.2-10.8,5-14.7l39.5-39.5c5.8-5.8,6.8-14.9,2.5-21.8l-63-97.8c-4.8-7.7-14.7-10.5-22.9-6.4L10.8,50C4.2,53.2,0.3,60.2,1.1,67.5c5.3,50.3,27.2,174,148.8,295.6s245.2,143.5,295.6,148.8c7.3,0.7,14.3-3.1,17.5-9.7l47.6-101.1c4.1-8.1,1.3-18-6.4-22.8l-97.8-62.9c-7-4.4-16-3.3-21.8,2.5L345,357.3c-3.8,3.9-9.3,5.7-14.7,5C310.8,359.9,261.9,348.9,213,300L213,300z"/>
                          </svg>
                          | 8 495 159 29 30
                      li 
                        a(href="mailto:infо@uralgpo.ru") 
                          span.header__item-icon 
                            <svg version="1.1" width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121"/>
                            <path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51C480.412,77.703,473.927,76,467,76z"/>
                            <path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"/>
                            <path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"/>
                          </svg>
                          | infо@uralgpo.ru
                      li 
                        a(href="#") 
                          span.header__item-icon 
                            <svg enable-background="new 0 0 24 24" width="12" height="12" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m23.309 14.547c1.738-7.81-5.104-14.905-13.139-13.543-4.362-2.707-10.17.352-10.17 5.542 0 1.207.333 2.337.912 3.311-1.615 7.828 5.283 14.821 13.311 13.366 5.675 3.001 11.946-2.984 9.086-8.676zm-7.638 4.71c-2.108.867-5.577.872-7.676-.227-2.993-1.596-3.525-5.189-.943-5.189 1.946 0 1.33 2.269 3.295 3.194.902.417 2.841.46 3.968-.3 1.113-.745 1.011-1.917.406-2.477-1.603-1.48-6.19-.892-8.287-3.483-.911-1.124-1.083-3.107.037-4.545 1.952-2.512 7.68-2.665 10.143-.768 2.274 1.76 1.66 4.096-.175 4.096-2.207 0-1.047-2.888-4.61-2.888-2.583 0-3.599 1.837-1.78 2.731 2.466 1.225 8.75.816 8.75 5.603-.005 1.992-1.226 3.477-3.128 4.253z"/></svg>
                          | infо@uralgpo.ru
                .contact__map
                  #yandexMap(data-center="[56.868002847698,60.6680616799011]" data-place="[56.86780159884193,60.667128271163946]" data-zoom="17")
              .contact__ps
                .contact__ps-icon
                  <svg version="1.1" width="45" height="45" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 80" fill="#db0909">
                    <path d="M33.3,54.7H4.8V9.3h28.6v4.3h2.9V4.2C36.2,1.9,34.3,0,32,0c0,0,0,0,0,0H6C3.7,0,1.9,1.9,1.9,4.2v55.7c0,2.3,1.9,4.2,4.2,4.2H32c2.3,0,4.2-1.9,4.2-4.2v-9.5h-2.8V54.7z M16.9,3.7h4.4c0.5-0.2,1.1,0.1,1.3,0.7s-0.1,1.1-0.7,1.3c-0.2,0.1-0.4,0.1-0.6,0h-4.4c-0.5,0.2-1.1-0.1-1.3-0.7s0.1-1.1,0.7-1.3C16.5,3.6,16.7,3.6,16.9,3.7z M20.1,60.3H18c-0.5,0.2-1.1-0.1-1.3-0.7s0.1-1.1,0.7-1.3c0.2-0.1,0.4-0.1,0.6,0h2.1c0.5,0.2,0.8,0.7,0.7,1.3C20.6,59.9,20.4,60.2,20.1,60.3L20.1,60.3z"/>
                    <path d="M45.6,44.4H30.8c-2.9,0-5.2-2.3-5.2-5.2v-8.8H21v18.4h24.6c1.2,0,2.2-1,2.3-2.3C47.9,45.4,46.9,44.4,45.6,44.4C45.6,44.4,45.6,44.4,45.6,44.4z"/>
                    <path d="M31.2,15.1c-2.1,0-3.7,1.7-3.8,3.7c0,0,0,0,0,0v15.5c0.9-0.8,2.1-1.2,3.3-1.2h31.4V15.1H31.2z M58.1,29.1h-26c-0.5-0.2-0.8-0.7-0.7-1.3c0.1-0.3,0.3-0.6,0.7-0.7h26c0.5,0.2,0.8,0.7,0.7,1.3C58.7,28.7,58.4,29,58.1,29.1z M58.1,24.3h-26c-0.5-0.2-0.8-0.7-0.7-1.3c0.1-0.3,0.3-0.6,0.7-0.7h26c0.5,0.2,0.8,0.7,0.7,1.3C58.7,23.9,58.4,24.2,58.1,24.3z M58.1,19.5h-26c-0.5-0.2-0.8-0.7-0.7-1.3c0.1-0.3,0.3-0.6,0.7-0.7h26c0.5,0.2,0.8,0.7,0.7,1.3C58.7,19.1,58.4,19.4,58.1,19.5z"/>
                    <path d="M27.5,38.3v0.9c0,1.8,1.5,3.3,3.3,3.3h0h14.9c0.8,0,1.6,0.2,2.3,0.7v-8.1H30.8C28.9,35.1,27.5,36.5,27.5,38.3C27.5,38.3,27.5,38.3,27.5,38.3z"/>
                  </svg> 
                .contact__ps-text
                  a(href="#") Здесь
                  |  вы можете оставить свой отзыв о работе нашей компании и внести свои предложения по улучшению качества обслуживания заказчиков.
            //	/contact

            include blocks/banner.pug

      //	/main 

    include core/footer.pug
