extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .container 

          .welcome__img 
            img(src="img/main_bg.jpg", alt="")

          .welcome__menu 

            include blocks/subcatalog.pug
            
          .welcome__content 

            #welcomeSlider.welcome__slider 
              .swiper-wrapper 

                .swiper-slide 
                  .welcome__slider-banner
                    .welcome__slider-content
                      .welcome__slider-title 
                        span Распродажа 
                        | складских остатков
                      .welcome__slider-text Акция действует до 30.11.2021 
                      .welcome__slider-res Складская тележка &#160;
                        span.welcome__slider-price-before 8590 &#8381; 
                        span.welcome__slider-price &#160; 6 490 &#8381;
                    .welcome__slider-img 
                      img(src="img/pushcart.png", alt="")

                .swiper-slide 
                  .welcome__slider-banner
                    .welcome__slider-content
                      .welcome__slider-title 
                        span Распродажа 
                        | складских остатков
                      .welcome__slider-text Акция действует до 30.11.2021 
                      .welcome__slider-res Складская тележка &#160;
                        .welcome__slider-price-before 8590 &#8381; 
                        .welcome__slider-price &#160; 6 490 &#8381;
                    .welcome__slider-img 
                      img(src="img/pushcart.png", alt="")
              .welcome__pagination.swiper-pagination

            form(action="#").welcome__form 
              .row.gy-3
                .col-md-4.col-sm-6
                  .input 
                    input(type="text" placeholder="Ваше имя")
                .col-md-4.col-sm-6
                  .input 
                    input(type="text" placeholder="Ваш телефон")
                .col-md-4 
                  .welcome__btn Консультация по сервису
      //	/welcome

      //- // main 
      //- .main 
      //-   .main__img 
      //-     img(src="img/main_bg.jpg", alt="")
      //-   aside.main__menu 

      //-   main.main__content 
      //- //	/main 

    include core/footer.pug
