extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .container 

          .welcome__img 
            img(src="img/main_bg.jpg", alt="")

          .welcome__menu 

            // subcatalog 
            .subcatalog 
              ul.subcatalog__list 
                li 
                  a(href="#") Грузоподъемное оборудование
                    <svg version="1.1" width="12px" height="14px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004" fill="none">
                      <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
                    </svg>
                li 
                  a(href="#") Комплектующие для строп и такелаж
                    <svg version="1.1" width="12px" height="14px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004" fill="none">
                      <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
                    </svg>
                li 
                  a(href="#") Складская техника
                    <svg version="1.1" width="12px" height="14px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004" fill="none">
                      <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
                    </svg>
                li 
                  a(href="#") Колеса и колесные опоры
                    <svg version="1.1" width="12px" height="14px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004" fill="none">
                      <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
                    </svg>

            //	/subcatalog 
          .welcome__content 

            #welcomeSlider.welcome__slider 
              .swiper-wrapper 

                .swiper-slide 
                  .welcome__slider-banner
                    .welcome__slider-content
                      .welcome__slider-title 
                        span Распродажа 
                        | складских остатков
                      .welcome__slider-text Акция действует до 30.11.2021 
                      .welcome__slider-res Складская тележка &#160;
                        span.welcome__slider-price-before 8590 &#8381; 
                        span.welcome__slider-price &#160; 6 490 &#8381;
                    .welcome__slider-img 
                      img(src="img/pushcart.png", alt="")

                .swiper-slide 
                  .welcome__slider-banner
                    .welcome__slider-content
                      .welcome__slider-title 
                        span Распродажа 
                        | складских остатков
                      .welcome__slider-text Акция действует до 30.11.2021 
                      .welcome__slider-res Складская тележка &#160;
                        .welcome__slider-price-before 8590 &#8381; 
                        .welcome__slider-price &#160; 6 490 &#8381;
                    .welcome__slider-img 
                      img(src="img/pushcart.png", alt="")
              .welcome__pagination.swiper-pagination

            form(action="#").welcome__form 
              .row.gy-3
                .col-md-4.col-sm-6
                  .input 
                    input(type="text" placeholder="Ваше имя")
                .col-md-4.col-sm-6
                  .input 
                    input(type="text" placeholder="Ваш телефон")
                .col-md-4 
                  .welcome__btn Консультация по сервису
      //	/welcome

      //- // main 
      //- .main 
      //-   .main__img 
      //-     img(src="img/main_bg.jpg", alt="")
      //-   aside.main__menu 

      //-   main.main__content 
      //- //	/main 

    include core/footer.pug
