extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .container 

          .welcome__img 
            img(src="img/main_bg.jpg", alt="")

          .welcome__menu 

            include blocks/subcatalog.pug
            
          .welcome__content 

            #welcomeSlider.welcome__slider 
              .swiper-wrapper 

                .swiper-slide 
                  .welcome__slider-banner
                    .welcome__slider-content
                      .welcome__slider-title 
                        span Распродажа 
                        | складских остатков
                      .welcome__slider-text Акция действует до 30.11.2021 
                      .welcome__slider-res Складская тележка &#160;
                        span.welcome__slider-price-before 8590 &#8381; 
                        span.welcome__slider-price &#160; 6 490 &#8381;
                    .welcome__slider-img 
                      img(src="img/pushcart.png", alt="")

                .swiper-slide 
                  .welcome__slider-banner
                    .welcome__slider-content
                      .welcome__slider-title 
                        span Распродажа 
                        | складских остатков
                      .welcome__slider-text Акция действует до 30.11.2021 
                      .welcome__slider-res Складская тележка &#160;
                        .welcome__slider-price-before 8590 &#8381; 
                        .welcome__slider-price &#160; 6 490 &#8381;
                    .welcome__slider-img 
                      img(src="img/pushcart.png", alt="")
              .welcome__pagination.swiper-pagination

            form(action="#").welcome__form 
              .row.gy-3
                .col-md-4.col-sm-6
                  .input 
                    input(type="text" placeholder="Ваше имя")
                .col-md-4.col-sm-6
                  .input 
                    input(type="text" placeholder="Ваш телефон")
                .col-md-4 
                  .welcome__btn Консультация по сервису
      //	/welcome

      // main 
      .main 

        .container

          aside.main__menu 

          main.main__content 

            // about-section
            .about-section
              .about-section__img 
                img(src="img/gruz_meh.png", alt="")
              .about-section__content 
                p «Уральский Грузоподъемный Центр» входит в группу компаний «Грузовая Механика», лидера рынка грузоподъемного оборудования и складской техники, работающего в b2b сегменте. Лидирующее положение позволяет использовать основной принцип работы «здесь и сейчас».
                p Для того, чтобы предоставить товар нашим клиентам в кратчайшие сроки, компания обладает большими складскими запасами и собственные производственными мощностями.
                .about-section__title Надежный  поставщик
                p Мы  придерживаемся гибкой ценовой политики, и предлагаем индивидуальные условия нашим клиентам.
                p Всегда стремимся к тому, чтобы у наших партнеров была самая актуальная информация, предоставленная в кратчайший срок. Именно поэтому, особая гордость компании - грамотные менеджеры.
            //	/about-section

            // advantages
            .advantages
              .title Наши преимущества
              .row
                .col-md-4.col-sm-6
                  .advantages__item 
                    .advantages__icon 
                      img(src="img/noun_time.png", alt="")
                    .advantages__title Принцип работы «здесь и сейчас»
                    .advantages__text Готовы ответить на вашу заявку в кратчайшие сроки
                .col-md-4.col-sm-6
                  .advantages__item 
                    .advantages__icon 
                      img(src="img/noun_pickup.png", alt="")
                    .advantages__title Собственное производство
                    .advantages__text Гарантируем качество нашей продукции
                .col-md-4.col-sm-6
                  .advantages__item 
                    .advantages__icon 
                      img(src="img/noun_warehouse.png", alt="")
                    .advantages__title Складские запасы
                    .advantages__text Товар всегда в наличии на складе
                .col-md-4.col-sm-6
                  .advantages__item 
                    .advantages__icon 
                      img(src="img/noun_manager.png", alt="")
                    .advantages__title Грамотные менеджеры
                    .advantages__text Полная информацию о товаре,  выгодные условия
                .col-md-4.col-sm-6
                  .advantages__item 
                    .advantages__icon 
                      img(src="img/noun_pricing.png", alt="")
                    .advantages__title Гибкая ценовая политика
                    .advantages__text Персональный подход к каждому клиенту
                .col-md-4.col-sm-6
                  .advantages__item 
                    .advantages__icon 
                      img(src="img/noun_email.png", alt="")
                    .advantages__title Надежный поставщик
                    .advantages__text Работаем более 10 лет на рынке
            //	/advantages

            // partners
            .partners

              .title С нами работают

              #partnersSlider.partners__slider 

                .swiper-wrapper 
                  .swiper-slide 
                    .partners__item 
                      img(src="img/nornikel.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/rosneft.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/lukoil.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/specstroi.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/rosneft.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/lukoil.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/nornikel.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/rosneft.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/lukoil.jpg", alt="")
                  .swiper-slide 
                    .partners__item 
                      img(src="img/specstroi.jpg", alt="")

                .partners__arrow.partners__arrow--prev.swiper-button-prev
                .partners__arrow.partners__arrow--next.swiper-button-next

              .partners__pagination.swiper-pagination
                
            //	/partners

      //	/main 

    include core/footer.pug
