extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage
        .container
          .title Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="catalog.html") Каталог
            li 
              a(href="reference.html") Справочная информация 
            li 
              a(href="news.html") Новости
            li 
              a(href="delivery.html") Доставка и оплата
            li 
              a(href="video.html") Видео
            li 
              a(href="contact.html") Контакты
            li 
              a(href="subcatalog.html") Подкаталог
            li 
              a(href="sections_of_goods.html") Разделы товаров
            li 
              a(href="filter.html") Фильтр
            li 
              a(href="categories_of_goods.html") Категории товаров
            li 
              a(href="partners.html") Партнерам

    include core/footer.pug
