extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage
        .container
          .title Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="catalog.html") Каталог
            li 
              a(href="reference.html") Справочная информация 

    include core/footer.pug
