extends core/base.pug

block title 
  title Всплывающие окна

block content

  .page 

    include core/header.pug

    .content 

      // main 
      .main 

        .main__img 
          img(src="img/main_bg.jpg", alt="")

        .container

          aside.main__menu 

            include blocks/subcatalog.pug

          main.main__content.main__content--padding-small

            .modal__trigger 
              span(data-bs-toggle="modal" data-bs-target="#callbackModal") Заказать звонок
            .modal__trigger 
              span(data-bs-toggle="modal" data-bs-target="#consultationModal") Консультация по сервису
            .modal__trigger 
              span(data-bs-toggle="modal" data-bs-target="#thankModal") Спасибо за заявку
            .modal__trigger 
              span(data-bs-toggle="modal" data-bs-target="#commentModal") Оставить отзыв
            .modal__trigger 
              span(data-bs-toggle="modal" data-bs-target="#orderModal") Оформить заказ

            // modal bootstrap
            .modal.fade#callbackModal
              .modal-dialog.modal-dialog-centered.modal-dialog--w540 
                .modal-content
                  
                  // form
                  form(action="#").form
                    .title Заказать звонок
                    .form__text Оставьте свои контакты, <br>и мы Вам перезвоним
                    .row.mb-3 
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Имя*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Телефон*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Город*")
                    .form__approval 
                      .form__checkbox 
                        input#approval(type="checkbox" checked)
                        label(for="approval") 
                      span нажимая кнопку «Отправить» вы даёте согласие на обработку 
                        a(href="#") персональных данных
                    .form__btn 
                      .btn.btn--red Отправить
                  //	/form
                  
                  .modal_close(data-bs-dismiss="modal")
            // /modal bootstrap

            

            // modal bootstrap
            .modal.fade#consultationModal
              .modal-dialog.modal-dialog-centered.modal-dialog--w540 
                .modal-content
                  
                  // form
                  form(action="#").form
                    .title Консультация по сервису
                    .row.mb-3 
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Имя*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Телефон*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="E-mail*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Город*")
                      .col-12 
                        .form__input 
                          textarea(placeholder="Вопрос")
                    .form__approval 
                      .form__checkbox 
                        input#approval(type="checkbox" checked)
                        label(for="approval") 
                      span нажимая кнопку «Отправить» вы даёте согласие на обработку 
                        a(href="#") персональных данных
                    .form__btn 
                      .btn.btn--red Отправить
                  //	/form
                  
                  .modal_close(data-bs-dismiss="modal")
            // /modal bootstrap

            // modal bootstrap
            .modal.fade#thankModal
              .modal-dialog.modal-dialog-centered.modal-dialog--w540 
                .modal-content
                  
                  // form
                  form(action="#").form
                    .form__iconcheck
                    .title Cпасибо Вам за вашу заявку!
                    .form__text Мы свяжемся с Вами в ближайщее время!
                  //	/form
                  
                  .modal_close(data-bs-dismiss="modal")
            // /modal bootstrap

            // modal bootstrap
            .modal.fade#commentModal
              .modal-dialog.modal-dialog-centered.modal-dialog--w540 
                .modal-content
                  
                  // form
                  form(action="#").form
                    .title Оставить отзыв
                    .row.mb-3 
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Имя*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Телефон*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="E-mail*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Город*")
                      .col-12 
                        .form__input 
                          textarea(placeholder="Вопрос")
                    .form__approval 
                      .form__checkbox 
                        input#approval(type="checkbox" checked)
                        label(for="approval") 
                      span нажимая кнопку «Отправить» вы даёте согласие на обработку 
                        a(href="#") персональных данных
                    .form__btn 
                      .btn.btn--red Отправить
                  //	/form
                  
                  .modal_close(data-bs-dismiss="modal")
            // /modal bootstrap

            // modal bootstrap
            .modal.fade#orderModal
              .modal-dialog.modal-dialog-centered.modal-dialog--w540 
                .modal-content
                  
                  // form
                  form(action="#").form
                    .title Оформить заказ

                    .form__orders 
                      .form__orders-head 
                        .form__order-gray Товаров: 
                          span 10
                        .form__order-price 500 000 ₽
                      .form__orders-body 
                        .form__order 
                          .form__order-title 
                            p Строп текстильный ленточный Сибталь 2т-1м
                          .form__order-bottom 
                            .form__order-gray x 1
                            .form__order-price 4 999 ₽
                          .form__order-basket 
                            <svg width="19" height="19" enable-background="new 0 0 512.016 512.016" viewBox="0 0 512.016 512.016" xmlns="http://www.w3.org/2000/svg"><g><path d="m448.199 164.387h-236.813l106.048-106.048c5.858-5.858 5.858-15.356 0-21.215l-26.872-26.872c-13.669-13.669-35.831-13.669-49.501 0l-27.63 27.631-14.144-14.144c-15.596-15.597-40.975-15.596-56.572 0l-55.158 55.158c-15.597 15.597-15.597 40.976 0 56.573l14.143 14.144-27.63 27.63c-13.669 13.669-13.669 35.831 0 49.501l26.872 26.872c5.857 5.858 15.356 5.859 21.214 0l38.021-38.021v231.416c0 35.901 29.104 65.005 65.005 65.005h158.012c35.901 0 65.005-29.104 65.005-65.005zm-325.284-35.989-14.143-14.143c-3.899-3.899-3.899-10.244 0-14.144l55.158-55.158c3.9-3.9 10.245-3.899 14.143 0l14.143 14.144zm129.533 299.612c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001zm66.741 0c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001zm66.741 0c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001z"/><path d="m320.898 113.548c-9.151 3.19-15.571 11.361-16.631 20.842h143.932v-24.932c0-17.119-16.845-29.167-33.022-23.682l-93.968 27.672c-.101.029-.211.069-.311.1z"/></g></svg>
                        .form__order 
                          .form__order-title 
                            p Строп текстильный ленточный Сибталь 2т-1м
                          .form__order-bottom 
                            .form__order-gray x 1
                            .form__order-price 4 999 ₽
                          .form__order-basket 
                            <svg width="19" height="19" enable-background="new 0 0 512.016 512.016" viewBox="0 0 512.016 512.016" xmlns="http://www.w3.org/2000/svg"><g><path d="m448.199 164.387h-236.813l106.048-106.048c5.858-5.858 5.858-15.356 0-21.215l-26.872-26.872c-13.669-13.669-35.831-13.669-49.501 0l-27.63 27.631-14.144-14.144c-15.596-15.597-40.975-15.596-56.572 0l-55.158 55.158c-15.597 15.597-15.597 40.976 0 56.573l14.143 14.144-27.63 27.63c-13.669 13.669-13.669 35.831 0 49.501l26.872 26.872c5.857 5.858 15.356 5.859 21.214 0l38.021-38.021v231.416c0 35.901 29.104 65.005 65.005 65.005h158.012c35.901 0 65.005-29.104 65.005-65.005zm-325.284-35.989-14.143-14.143c-3.899-3.899-3.899-10.244 0-14.144l55.158-55.158c3.9-3.9 10.245-3.899 14.143 0l14.143 14.144zm129.533 299.612c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001zm66.741 0c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001zm66.741 0c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001z"/><path d="m320.898 113.548c-9.151 3.19-15.571 11.361-16.631 20.842h143.932v-24.932c0-17.119-16.845-29.167-33.022-23.682l-93.968 27.672c-.101.029-.211.069-.311.1z"/></g></svg>
                        .form__order 
                          .form__order-title 
                            p Строп текстильный ленточный Сибталь 2т-1м, 
                            p Строп текстильный ленточный Сибталь
                          .form__order-bottom 
                            .form__order-gray x 1
                            .form__order-price 4 999 ₽
                          .form__order-basket 
                            <svg width="19" height="19" enable-background="new 0 0 512.016 512.016" viewBox="0 0 512.016 512.016" xmlns="http://www.w3.org/2000/svg"><g><path d="m448.199 164.387h-236.813l106.048-106.048c5.858-5.858 5.858-15.356 0-21.215l-26.872-26.872c-13.669-13.669-35.831-13.669-49.501 0l-27.63 27.631-14.144-14.144c-15.596-15.597-40.975-15.596-56.572 0l-55.158 55.158c-15.597 15.597-15.597 40.976 0 56.573l14.143 14.144-27.63 27.63c-13.669 13.669-13.669 35.831 0 49.501l26.872 26.872c5.857 5.858 15.356 5.859 21.214 0l38.021-38.021v231.416c0 35.901 29.104 65.005 65.005 65.005h158.012c35.901 0 65.005-29.104 65.005-65.005zm-325.284-35.989-14.143-14.143c-3.899-3.899-3.899-10.244 0-14.144l55.158-55.158c3.9-3.9 10.245-3.899 14.143 0l14.143 14.144zm129.533 299.612c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001zm66.741 0c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001zm66.741 0c0 8.285-6.716 15.001-15.001 15.001s-15.001-6.716-15.001-15.001v-179.616c0-8.285 6.716-15.001 15.001-15.001s15.001 6.716 15.001 15.001z"/><path d="m320.898 113.548c-9.151 3.19-15.571 11.361-16.631 20.842h143.932v-24.932c0-17.119-16.845-29.167-33.022-23.682l-93.968 27.672c-.101.029-.211.069-.311.1z"/></g></svg>
                        .form__orders-more Посмотреть все товары
                          <svg version="1.1" width="12" height="12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.004 492.004">
                            <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
                          </svg>

                    .row.mb-3 
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Имя*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Телефон*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Город*")
                      .col-12 
                        .form__input 
                          input(type="text" placeholder="Адрес*")
                    .form__approval 
                      .form__checkbox 
                        input#approval(type="checkbox" checked)
                        label(for="approval") 
                      span нажимая кнопку «Отправить» вы даёте согласие на обработку 
                        a(href="#") персональных данных
                    .form__btn 
                      .btn.btn--red Отправить
                  //	/form
                  
                  .modal_close(data-bs-dismiss="modal")
            // /modal bootstrap

    include core/footer.pug
