extends core/base.pug

block title 
  title Партнерам

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .container 

          .welcome__img 
            img(src="img/main_bg.jpg", alt="")

          .welcome__menu 

            include blocks/subcatalog.pug
            
          .welcome__content.welcome__content--padding-small

            // breadcrambs
            .breadcrambs
              ul 
                li 
                  a(href="#") Главная
            //	/breadcrambs

            .welcome__partners
              .welcome__partners-content
                .welcome__partners-title Партнёрам
                .welcome__partners-subtitle Больше, чем просто поставщик
                .welcome__partners-text 
                  p Партнёрство - наш стратегический приоритет. Мы открыты к долгосрочному и плодотворному сотрудничеству и уверены: вместе возможно многое!
                  p Наша цель - эффективное функционирование бизнеса наших клиентов.
                  p 
                    b 100% - 100%, победа обеих сторон!
              .welcome__partners-img
                img(src="img/man.png", alt="")
      //	/welcome

      // main 
      .main 

        .container

          aside.main__menu 

          main.main__content 

            // numbers
            .numbers
              .subtitle.subtitle--center О нас в 
                span цифрах
              .row.gy-3 
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 80 млн. 
                      | метров
                    .numbers__text Реализовали текстильных изделий
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 300 
                      | клиентов
                    .numbers__text В Уральском регионе
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 16 
                      | лет
                    .numbers__text На рынке
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 3000 
                      | кв.м.
                    .numbers__text Складских площадей
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 5 
                      | минут
                    .numbers__text На ответ по вашей заявке
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 1000 
                      | позиций
                    .numbers__text В наличии на складе
            //	/numbers

            // offers
            .offers
              .subtitle.subtitle--center Предлагаем 
                span нашим партнерам
              .row
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_1.jpg", alt="")
                    .offers__content 
                      .offers__title Лучшая закупочная цена
                      .offers__text Мы готовы сделать для Вас эксклюзивное предложение.
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_2.jpg", alt="")
                    .offers__content 
                      .offers__title Грамотные менеджеры
                      .offers__text Профессионалы своего дела. Быстро ответят на самые каверзные вопросы.
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_3.jpg", alt="")
                    .offers__content 
                      .offers__title Сервисная служба
                      .offers__text Консультация в один клик.
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_4.jpg", alt="")
                    .offers__content 
                      .offers__title Нужный товар в наличии на складе
                      .offers__text Оптимизированные ассортимент более 1000 позиций.
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_5.jpg", alt="")
                    .offers__content 
                      .offers__title Сильные бренды
                      .offers__text Активное маркетинговое партнерство.
            //	/offers

            // brands
            .brands
              .subtitle.subtitle--center Наши бренды
              .brands__items 
                .row.gy-3.justify-content-center
                  .col-md-4.col-sm-6
                    .brands__item 
                      a(href="#").brands__img 
                        img(src="img/brand_sibtal.jpg", alt="")
                      a(href="#").brands__link 
                        <svg version="1.1" width="17" height="17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" fill="none">
                          <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"/>
                          <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"/>
                        </svg>
                        | Cкачать реквизиты
                  .col-md-4.col-sm-6
                    .brands__item 
                      a(href="#").brands__img 
                        img(src="img/brand_projack.jpg", alt="")
                      a(href="#").brands__link 
                        <svg version="1.1" width="17" height="17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" fill="none">
                          <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"/>
                          <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"/>
                        </svg>
                        | Cкачать каталог
                  .col-md-4.col-sm-6
                    .brands__item 
                      a(href="#").brands__img 
                        img(src="img/brand_saizen.jpg", alt="")
                      a(href="#").brands__link 
                        <svg version="1.1" width="17" height="17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" fill="none">
                          <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"/>
                          <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"/>
                        </svg>
                        | Cкачать буклеты
              .brands__ps Подробно о нашем продукте на нашем 
                a(href="#") YouTube канале
            //	/brands

            include blocks/banner.pug

      //	/main 

    include core/footer.pug
