extends core/base.pug

block title 
  title Партнерам

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .container 

          .welcome__img 
            img(src="img/main_bg.jpg", alt="")

          .welcome__menu 

            include blocks/subcatalog.pug
            
          .welcome__content.welcome__content--padding-small

            // breadcrambs
            .breadcrambs
              ul 
                li 
                  a(href="#") Главная
            //	/breadcrambs

            .welcome__partners
              .welcome__partners-content
                .welcome__partners-title Партнёрам
                .welcome__partners-subtitle Больше, чем просто поставщик
                .welcome__partners-text 
                  p Партнёрство - наш стратегический приоритет. Мы открыты к долгосрочному и плодотворному сотрудничеству и уверены: вместе возможно многое!
                  p Наша цель - эффективное функционирование бизнеса наших клиентов.
                  p 
                    b 100% - 100%, победа обеих сторон!
              .welcome__partners-img
                img(src="img/man.png", alt="")
      //	/welcome

      // main 
      .main 

        .container

          aside.main__menu 

          main.main__content 

            // numbers
            .numbers
              .subtitle.subtitle--center О нас в 
                span цифрах
              .row.gy-3 
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 80 млн. 
                      | метров
                    .numbers__text Реализовали текстильных изделий
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 300 
                      | клиентов
                    .numbers__text В Уральском регионе
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 16 
                      | лет
                    .numbers__text На рынке
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 3000 
                      | кв.м.
                    .numbers__text Складских площадей
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 5 
                      | минут
                    .numbers__text На ответ по вашей заявке
                .col-md-4.col-6
                  .numbers__item 
                    .numbers__title 
                      span 1000 
                      | позиций
                    .numbers__text В наличии на складе
            //	/numbers

            // offers
            .offers
              .subtitle.subtitle--center Предлагаем 
                span нашим партнерам
              .row
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_1.jpg", alt="")
                    .offers__content 
                      .offers__title Лучшая закупочная цена
                      .offers__text Мы готовы сделать для Вас эксклюзивное предложение.
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_2.jpg", alt="")
                    .offers__content 
                      .offers__title Грамотные менеджеры
                      .offers__text Профессионалы своего дела. Быстро ответят на самые каверзные вопросы.
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_3.jpg", alt="")
                    .offers__content 
                      .offers__title Сервисная служба
                      .offers__text Консультация в один клик.
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_4.jpg", alt="")
                    .offers__content 
                      .offers__title Нужный товар в наличии на складе
                      .offers__text Оптимизированные ассортимент более 1000 позиций.
                .col-12 
                  .offers__item 
                    .offers__img 
                      img(src="img/offers_5.jpg", alt="")
                    .offers__content 
                      .offers__title Сильные бренды
                      .offers__text Активное маркетинговое партнерство.
            //	/offers

            // brands
            .brands
              .subtitle.subtitle--center Наши бренды
              .brands__items 
                .row.gy-3.justify-content-center
                  .col-md-4.col-sm-6
                    .brands__item 
                      a(href="#").brands__img 
                        img(src="img/brand_sibtal.jpg", alt="")
                      a(href="#").brands__link 
                        <svg version="1.1" width="17" height="17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" fill="none">
                          <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"/>
                          <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"/>
                        </svg>
                        | Cкачать реквизиты
                  .col-md-4.col-sm-6
                    .brands__item 
                      a(href="#").brands__img 
                        img(src="img/brand_projack.jpg", alt="")
                      a(href="#").brands__link 
                        <svg version="1.1" width="17" height="17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" fill="none">
                          <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"/>
                          <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"/>
                        </svg>
                        | Cкачать каталог
                  .col-md-4.col-sm-6
                    .brands__item 
                      a(href="#").brands__img 
                        img(src="img/brand_saizen.jpg", alt="")
                      a(href="#").brands__link 
                        <svg version="1.1" width="17" height="17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" fill="none">
                          <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"/>
                          <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"/>
                        </svg>
                        | Cкачать буклеты
              .brands__ps Подробно о нашем продукте на нашем 
                a(href="#") YouTube канале
            //	/brands

            // callback
            .callback
              .callback__container 
                .subtitle.subtitle--center Как стать 
                  span партнёром
                .callback__list 
                  ul
                    li 
                      <svg version="1.1" width="17" height="17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                        <path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121"/>
                        <path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51C480.412,77.703,473.927,76,467,76z"/>
                        <path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"/>
                        <path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"/>
                      </svg>
                      | Написав письмо на наш e-mail: 
                      a(href="mailto:krsk@grmeh.ru").callback__mail krsk@grmeh.ru
                    li 
                      <svg version="1.1" width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                        <path id="Shape" d="M213,300c-48.9-48.9-59.9-97.7-62.4-117.3c-0.7-5.4,1.2-10.8,5-14.7l39.5-39.5c5.8-5.8,6.8-14.9,2.5-21.8l-63-97.8c-4.8-7.7-14.7-10.5-22.9-6.4L10.8,50C4.2,53.2,0.3,60.2,1.1,67.5c5.3,50.3,27.2,174,148.8,295.6s245.2,143.5,295.6,148.8c7.3,0.7,14.3-3.1,17.5-9.7l47.6-101.1c4.1-8.1,1.3-18-6.4-22.8l-97.8-62.9c-7-4.4-16-3.3-21.8,2.5L345,357.3c-3.8,3.9-9.3,5.7-14.7,5C310.8,359.9,261.9,348.9,213,300L213,300z"/>
                      </svg>
                      | Позвонив нам по номеру: 
                      a(href="tel:88005007230").callback__tel + 8-800-500-72-30
                    li 
                      <svg height="16" viewBox="0 0 325 325.37515" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m114.6875 284.675781-73.800781-73.800781 178.5-178.5 73.800781 73.800781zm-80.699219-60.800781 67.699219 67.699219-101.5 33.800781zm281.898438-140.300781-12.800781 12.800781-73.898438-73.898438 12.800781-12.800781c12.894531-12.902343 33.804688-12.902343 46.699219 0l27.199219 27.199219c12.800781 12.9375 12.800781 33.765625 0 46.699219zm0 0"/></svg>
                      | Заполнив форму обратной связи:
                form(action="#").callback__form 
                  .row.gy-2 
                    .col-md-8 
                      .row.gy-2
                        .col-md-12
                          .callback__input 
                            input(type="text" placeholder="Ваше имя")
                        .col-sm-6 
                          .callback__input 
                            input(type="text" placeholder="Ваше E-mail")
                        .col-sm-6 
                          .callback__input 
                            input(type="text" placeholder="Ваш телефон")
                    .col-md-4 
                      .callback__textarea 
                        textarea(placeholder="Комментарий")
                    .col-md-4 
                      .callback__file 
                        input#file(type="file")
                        label(for="file") 
                          <svg version="1.1" width="14" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.988 511.988" fill="#db0909">
                            <path d="M489.305,185.463c-8.354-8.309-21.861-8.272-30.17,0.081L202.687,443.379c-33.271,33.271-87.308,33.271-120.641-0.045c-33.308-33.325-33.308-87.362,0.004-120.674L346.089,57.234c20.772-20.771,54.543-20.771,75.375,0.045c20.826,20.826,20.826,54.593-0.005,75.425L202.727,351.434c-0.014,0.014-0.026,0.03-0.04,0.044c-8.333,8.287-21.8,8.276-30.116-0.04c-8.33-8.33-8.33-21.831,0-30.161l105.58-105.602c8.33-8.332,8.329-21.84-0.003-30.17c-8.332-8.33-21.84-8.329-30.17,0.003l-105.579,105.6c-24.991,24.991-24.991,65.507,0.002,90.499c24.992,24.992,65.508,24.992,90.501,0c0.029-0.029,0.052-0.06,0.08-0.089l218.646-218.646c37.494-37.494,37.494-98.276,0-135.77c-37.499-37.472-98.277-37.472-135.749,0L51.84,292.53C1.906,342.464,1.906,423.509,51.876,473.504c50.003,49.977,131.049,49.977,181.022,0.004l256.489-257.875C497.695,207.279,497.658,193.772,489.305,185.463z"/>
                          </svg>
                          | Прикрепить файл
                    .col-md-4 
                      .callback__approval Нажимая на кнопку «отправить», я даю согласие на 
                        a(href="$") обработку персональных данных
                    .col-md-4.d-flex.justify-content-center
                      button(type="submit").btn.btn--red Отправить
            //	/callback

            include blocks/banner.pug

      //	/main 

    include core/footer.pug
