/* settings */
html {
  height: 100%;
}
a {
  transition: .3s;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 16px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: $black;
  &.lock {
    overflow: hidden;
  }
}
svg {
  max-width: 100%;
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}
.text-gray {
  color: $gray;
}
.text-ttu {
  text-transform: uppercase;
}
.text-crossed {
  text-decoration: line-through;
}
a {
  color: $black;
  &:hover {
    color: $red;
  }
}
.title {
  font-size: 35px;
  font-weight: bold;
  color: #464646;
  text-align: center;
  span {
    color: $red;
  }
  &--left {
    text-align: left;
  }
  @include media-breakpoint-down(sm) {
    font-size: 25px;
  }
}
.subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #464646;
  span {
    color: $red;
  }
  &--center {
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}
.navpage {
  padding: 30px 0;
  font-size: 18px;
  .title {
    margin-bottom: 20px;
  }
  ul {
    margin-top: -10px;
  }
  li {
    margin-top: 10px;
  }
}
/* /settings */