/* texteditor */
.texteditor { 
  margin-bottom: 25px;
  h1, h2, h3, h4, h5 ,h6 {
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
    color: #464646;
  }
  p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 23px;
  }
  ol {
    font-weight: 500;
    li {
      margin: 27px 0;
      padding-left: 23px;
      position: relative;
      span {
        display: block;
        font-weight: normal;
        margin-left: -23px;
        margin-top: 13px;
      }
      &:before {
        content: '';
        display: block;
        width: 3px;
        height: 16px;
        background-color: $red;
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }
  ul {
    li {
        margin: 27px 0;
        padding-left: 23px;
        position: relative;
        span {
          display: block;
          font-weight: normal;
          margin-left: -23px;
          margin-top: 13px;
        }
        &:before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background-color: $red;
          border-radius: 100%;
          position: absolute;
          top: 6px;
          left: 0;
        }
      }
  }
  @include media-breakpoint-down(sm) {
    h1, h2, h3, h4, h5 ,h6 {
      font-size: 22px;
    }
  }
}
/* /texteditor */